*{
          box-sizing: border-box;
      }
      
      .block__plane{
          width: 400px;
          height: 300px;
          background-position: center;
      }
      
      
      .wrapper {
          height: 100vh;
          overflow: hidden;
          background: url(img/priroda-more-okean-volna-bryzgi.jpg);
          font-family: 'Play', sans-serif;
          text-transform: uppercase;
          text-align: center;
          background-repeat: no-repeat;
      }
      
      .container {
          max-width: 800px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 5% 0;
          background: rgba(98, 205, 255, 0.8);
          color: #6f9fdd;
      }
      
      .title {
          font-size: 60px;
          margin: 10px 0;
      }
      
      .subtitle {
          font-size: 50px;
          margin: 0;
          animation: subtitle 1s alternate infinite;
          -webkit-animation: subtitle 1s alternate infinite;
          position: relative;
      }
      
      
      .img__pic {
        background-position: 15px;
        width: 10h;
        height: 20vh;
      }

      .text__congratulations{
          color: rgb(61, 66, 192);
          font-size: 15px;
      }